<% content_for :banner_content do %>
  <div class="main-banner banner-holder inner-banner">
    <div class="fixed-banner event-banner">
      <div class="banner-text">
        <div class="container">
          <div class="content">
            <div class="inner text-center">
              <div class="main-title mb-0 ">
                <h2 class="mb-0">Frequently Asked Question’s</h2>
              </div>
              <!--title-->
            </div>
            <!--inner-->
          </div>
        </div>
      </div>
      <!--banner text-->
    </div>
  </div>
  <!--banner ends-->
<% end %>
<section class="primary-padding faq-block">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="search-block gray-bg mb-20">
          <div class="widget_search">
            <form action="08-enstruct-faq.html#">
              <input type="text" placeholder="Enter Keywords">
              <button type="submit"><i class=" fa fa-search"></i></button>
            </form>
          </div>
        </div>
        <!--search block-->
        <div id="accordion3" class="">
          <div class="acc-wrap">
            <h4> What is frequently asked questions means? </h4>
            <div>
              <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor placerat enim, eget scelerisque urna maximus at. Maecenas eget tortor erat. Morbi finibus pulvinar turpis, sit amet imperdiet ex pharetra eu.
              </p>
            </div>
          </div>
          <!--single faq-->
          <div class="acc-wrap">
            <h4> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere? </h4>
            <div>
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
              </p>
            </div>
          </div>
          <!--single faq-->
          <div class="acc-wrap">
            <h4>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc justo augue, tempus?
            </h4>
            <div>
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              </p>
            </div>
          </div>
          <!--single faq-->
          <div class="acc-wrap">
            <h4> Donec vestibulum nisi non malesuada suscipit pharetra id risus nec pretium? </h4>
            <div>
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              </p>
            </div>
          </div>
          <!--single faq-->
          <div class="acc-wrap">
            <h4> Quisque feugiat mattis nibh, a luctus nibh dapibus necsum? </h4>
            <div>
              <p>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
              </p>
            </div>
          </div>
          <!--single faq-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--faq block-->

<% content_for :after_footer do %>
    <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<% end %>