<div class="row">
  <div class="col-sm-3">
    <!-- <div class="col-md-4 col-sm-4"> -->
    <div class="box text-center box-shadow">
      <div class="title bg-blue">
        <h4 class=" m-0">WFF MEMBERS CAMP</h4>
      </div>
      <div class="price-block">
        <h2><sup>$</sup>139
          <span>FULL DAY</span>
        </h2>
      </div>
      <!--title-->
      <div class="content-wrap m-0">
        <ul>
          <li>Per Person </li>
        </ul>
      </div>
      <!--content-->
      <div class="btn-wrap">
        <%=link_to 'REGISTER',soccer_programs_path(query: "wffull"),class: "btn btn-lg btn-default" %>
      </div>
      <!--button-->
    </div>
  </div>
  <!--single price block-->
  <div class="col-sm-3">
    <!-- <div class="col-md-4 col-sm-4"> -->
    <div class="box text-center box-shadow">
      <div class="title bg-blue">
        <h4 class=" m-0">WFF MEMBERS CAMP</h4>
      </div>
      <div class="price-block">
        <h2><sup>$</sup>109
          <span>HALF DAY</span>
        </h2>
      </div>
      <!--title-->
      <div class="content-wrap m-0">
        <ul>
          <li>Per person </li>
        </ul>
      </div>
      <!--content-->
      <div class="btn-wrap">
        <%=link_to 'REGISTER',soccer_programs_path(query: "wffhalf"),class: "btn btn-lg btn-default" %>
      </div>
      <!--button-->
    </div>
  </div>
  <!--single price block-->
  <div class="col-sm-3">
    <!-- <div class="col-md-4 col-sm-4"> -->
    <div class="box text-center box-shadow">
      <div class="title bg-blue">
        <h4 class=" m-0">NON MEMBERS</h4>
      </div>
      <div class="price-block">
        <h2><sup>$</sup>169
          <span>FULL DAY CAMP</span>
        </h2>
      </div>
      <!--title-->
      <div class="content-wrap m-0">
        <ul>
          <li>Per person </li>
        </ul>
      </div>
      <!--content-->
      <div class="btn-wrap">
        <%=link_to 'REGISTER',soccer_programs_path(query: "nonfull"),class: "btn btn-lg btn-default" %>
      </div>
      <!--button-->
    </div>
  </div>
  <!--single price block-->
  <div class="col-sm-3">
    <!-- <div class="col-md-4 col-sm-4"> -->
    <div class="box text-center box-shadow">
      <div class="title bg-blue">
        <h4 class=" m-0">NON MEMBERS CAMP</h4>
      </div>
      <div class="price-block">
        <h2><sup>$</sup>139
          <span>HALF DAY CAMP</span>
        </h2>
      </div>
      <!--title-->
      <div class="content-wrap m-0">
        <ul>
          <li>Per person </li>
        </ul>
      </div>
      <!--content-->
      <div class="btn-wrap">
        <%=link_to 'REGISTER',soccer_programs_path(query: "nonhalf"),class: "btn btn-lg btn-default" %>
      </div>
      <!--button-->
    </div>
  </div>
  <!--single price block-->
</div>