<footer>
  <div class="primary-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <h4 class="title"><%= image_tag "enstruct_layout/footer-logo.jpg", alt: "Footer logo" %></h4>
          <div class="content-wrap">
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium doloremque laudantium, totam rem aperiam. Eaque ipsa quae ab illo invent ore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
          </div>
          <ul class="social-icons ">
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle"> <i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle"> <i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle"> <i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle"> <i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
        <!--footer about-->
        <div class="col-md-2 col-sm-2 quick-links">
          <h4>Quick Links</h4>
          <ul class="footer-links">
            <li><a href="02-enstruct-homepage-conference.html#">About Us</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Events</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Upcoming Events</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Event Sponshorship</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Shop</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Blog</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Contact</a></li>
          </ul>
        </div>
        <!--foter links-->
        <div class="col-md-3 col-sm-3 biz-info">
          <h4>Business Info</h4>
          <h6>Enstruct LLC</h6>
          <p>Canbera, Australia</p>
          <div class="business-hour mt-4">
            <p>
              <strong>Business Hours:</strong>
              <br> Mon - Saturday - 9:00am to 6pm
              <br> Sunday - 12am to 5pm
            </p>
          </div>
        </div>
        <!--business-info-->
        <div class="col-md-3 col-sm-3">
          <h4>Newsletter</h4>
          <p>Subscribe to our newsletter for latest news and updates directly in your inbox.</p>
          <form action="02-enstruct-homepage-conference.html#" class="subscription">
            <input type="text" placeholder=" Please fill up your email ">
            <button type="submit"><i class="fa fa-paper-plane"></i></button>
          </form>
        </div>
        <!--newsletter-->
      </div>
    </div>
  </div>
  <!--top-->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          Copyright 2017 © <span class="text-blue">ENSTRUCT.</span> All rights reserved. Powered by <a href="02-enstruct-homepage-conference.html#" class="text-yellow">WordPress</a>
        </div>
        <!--left-->
        <div class="col-md-6 col-sm-6 ">
          <ul class="footer-links footer-sub-links">
            <li><a href="02-enstruct-homepage-conference.html#">Press</a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Privacy Policy </a></li>
            <li><a href="02-enstruct-homepage-conference.html#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--footer-->
</footer>