<header>
  <div class="container">
    <div class="top-bar hidden-sm-down">
      <div class="row">
        <div class="col-md-9 col-sm-9">
          <span>
          <a href="tel:+614123456789"><i class="fa fa-phone"></i> +614-123-456789</a>
          </span>
          <!--phone-->
          <span>
          <a href="mailto:info@yourdomain.com "><i class="fa fa-envelope"></i> info@yourdomain.com</a>
          </span>
          <span>
          <i class="fa fa-map-marker"></i> Canbera, Australia
          </span>
        </div>
        <!--header info-->
        <div class="col-md-3 col-sm-3">
          <ul class="social-icons txt-r">
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle">
              <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle">
              <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle">
              <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="02-enstruct-homepage-conference.html#" class="rounded-circle">
              <i class="fa fa-pinterest"></i>
              </a>
            </li>
          </ul>
        </div>
        <!--social-->
      </div>
    </div>
    <!--top bar ends-->
    <nav class="navbar navbar-toggleable-sm">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="index.html"><%= image_tag "enstruct_layout/logo.png",alt: "logo" %></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li>
            <a href="02-enstruct-homepage-conference.html#">Home </a>
            <ul class="sub-menu">
              <li><a href="index.html">Events</a></li>
              <li><a href="barista-school.html">Barista School</a></li>
              <li><a href="02-enstruct-homepage-conference.html">Conference</a></li>
            </ul>
          </li>
          <li>
            <a href="02-enstruct-homepage-conference.html#">Events </a>
            <ul class="sub-menu">
              <li><a href="03-enstruct-events-list-fullwidth.html">List Fullwidth</a></li>
              <li><a href="04-enstruct-events-list-day-fullwidth.html">List day view</a></li>
              <li><a href="05-enstruct-events-week.html">List Week view</a></li>
              <li><a href="06-enstruct-events-month.html">List Month view</a></li>
              <li><a href="07-enstruct-events-single.html">Events single page</a></li>
            </ul>
          </li>
          <li>
            <a href="02-enstruct-homepage-conference.html#">Shop </a>
            <ul class="sub-menu">
              <li><a href="17-enstruct-shop-fullwidth.html">Shop full width</a></li>
              <li><a href="18-enstruct-shop-left-sidebar.html">Shop left sidebar</a></li>
              <li><a href="19-enstruct-shop-right-sidebar.html">Shop right sidebar</a></li>
              <li><a href="20-enstruct-product-single.html">Product single page</a></li>
              <li><a href="17-enstruct-shop-quick-view.html">Shop quick view</a></li>
            </ul>
          </li>
          <li>
            <a href="02-enstruct-homepage-conference.html#">Pages</a>
            <ul class="sub-menu">
              <li><a href="08-enstruct-faq.html">FAQ’s</a></li>
              <li><a href="09-enstruct-contact.html">Contact</a></li>
              <li><a href="14-enstruct-fullwidth.html">Full width page layout</a></li>
              <li><a href="15-enstruct-left-sidebar.html">Left sidebar layout</a></li>
              <li><a href="16-enstruct-right-sidebar.html">Right sidebar layout</a></li>
              <li><a href="23-enstruct-404.html">404 page</a></li>
            </ul>
          </li>
          <li>
            <a href="02-enstruct-homepage-conference.html#">Blog  </a>
            <ul class="sub-menu">
              <li><a href="11-enstruct-blog-list.html">List page</a></li>
              <li><a href="12-enstruct-blog-masonary.html">Masonry layout</a></li>
              <li><a href="13-enstruct-blog-single.html">Post single page</a></li>
            </ul>
          </li>
          <li>
            <a href="02-enstruct-homepage-conference.html#">My account </a>
            <ul class="sub-menu">
              <li><a href="10-enstruct-login.html">Login</a></li>
              <li><a href="10-enstruct-signup.html">Signup</a></li>
              <li><a href="10-enstruct-forgot-pass.html">Forgot password</a></li>
              <li><a href="21-enstruct-cart.html">Cart</a></li>
              <li><a href="22-enstruct-checkout.html">Checkout</a></li>
            </ul>
          </li>
        </ul>
        <!--navbar-->
        <div class="header-cart">
          <ul>
            <li class="cart-item">
              <a href="02-enstruct-homepage-conference.html#" class="header-cart-icon rounded-circle" title="cart">
              <span class="item-number rounded-circle">5</span>
              <%= image_tag "enstruct_layout/cart-small-blue.png", alt: "Cart icon" %>
              </a>
            </li>
          </ul>
        </div>
        <!--header cart-->
      </div>
    </nav>
    <!--primery navigation ends-->
  </div>
</header>